<%- include("./partials/header"); -%>
<h1>Compose</h1>
<form action = "/compose" method = "post">
    <label>Title</label><br>
    <input type="text" placeholder="" name="composeTitle" class="form-control"><br>
    <label>Content</label><br>
    <textarea name="composeBody" class="form-control" rows = "5"></textarea><br>
    <button type="submit" name = "composeButton" class = "btn btn-primary">publish</button>
</form>
<%- include("./partials/footer"); -%>
